@import "https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap";
$font: 'Noto Sans', sans-serif;
.Content {
  position: absolute;
  left: 0px;
  top: 800px;
  height: 0px;
  width: 100%;
}
.header-text4 {
  color: white;
  font-family: $font;
  font-weight: 700;
  font-size: 58px;
  line-height: 45px;
  position: absolute;
  left: 35px;
  top: 10px;
}
.text-description1 {
  color: rgba(110, 110, 110, 0.4);
  font-family: $font;
  display: block;
  position: absolute;
  width: 500px;
  height: 300px;
  left: 40px;
  top: 165px
}
.img-1 {
  position: absolute;
  width: 670px;
  height: 503px;
  top: 30px;
  left: 1000px;
  background: url("https://i.imgur.com/zl3szXf.png") repeat;
}