@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100&display=swap');

.NotFoundBody {
  background-color: #23272A;
}
.Header {
  color: #393d40;
  font-family: 'Smooch Sans', sans-serif;
  font-size: 86pt;
  position: absolute;
  left: 60px;
  top: 40px;
  margin: 0px;
}
.Subheader {
  color: #393d40;
  font-family: 'Smooch Sans', sans-serif;
  font-size: 36pt;
  position: absolute;
  left: 60px;
  top: 180px;
}